h1{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

* {
    background-color: #a6be99;
}

th{
    font-family:'Times New Roman', Times, serif;
    border: solid black 1.5px;
    background-color: rgb(235, 255, 232);
    color: rgb(0, 0, 0);
}

td{
    font-family:'Times New Roman', Times, serif;
    border: solid black 1.5px;
    background-color: white;
}

.Fri, .Sun{
    color: red;
}

.Tm{
    color: rgb(43, 118, 43);
}

.st {
    vertical-align:baseline;
    background-color: rgb(255, 235, 210);
}

.break {
    border: solid green 1.5px;
    text-align: center;
    font-weight: 700;
}

table {
    border: solid black 3px;
    margin:auto;
}

.gesci{
    background-color: rgb(176, 123, 226);
}

.gessc{
    background-color: rgb(114, 233, 193);
}
